:root {
  --favorite-color: #FFFF00;
  --less-yellow: #BBBB00;
  --orange-yellow: #FFEE00;
  --default-background-color: #220022;
  --menu-color: #440044;
  --menu-hover-color: #660066;
  --developer-red: #FF0000;
  --main-white: #FFFFDD;
  --backup-list-header: #545761;
  --backup-list-details: #111214;

  --menu-height: 8vh;
  --footer-height: 4vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--default-background-color);
}

p {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: var(--menu-color);
  color: var(--favorite-color);
  position: fixed;
  top: 0;
  left: 0;
  height: var(--menu-height);
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0;
  padding-left: 16px;
}

nav ul a li {
  padding: 12px;
  margin-right: 16px;
  cursor: pointer;
}

nav ul a li:hover {
  background-color: var(--menu-hover-color);
  color: var(--orange-yellow);
}

nav ul a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2em;
}

footer {
  background: transparent;
  color: var(--less-yellow);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  text-align: center;
  
}

main {
  position: absolute;
  top: var(--menu-height);
  height: calc(84vh);
  width: 100%;
  color: var(--main-white);
  overflow-y: scroll;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.backupList {
  margin: 16px;
}
.backupList[open] summary ~ * {
  animation: details-show 450ms ease-in;
}
@keyframes details-show {
  from {
    opacity:0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

.backupList > summary{
  border-radius: 12px;
  background-color: var(--backup-list-header);
  font-size: 2em;
  color: var(--favorite-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
}


.backupList > ul { 
  background-color: var(--backup-list-details);
  border-radius: 12px;
  margin-top: 2px;
  padding: 16px;
  list-style-type: none;
}

.backupEntry {
  margin: 16px;
  font-size: 1.2em;
}
.backupEntry a {
  color: var(--less-yellow);
  text-decoration: none;
}
.backupEntry a:hover {
  color: var(--favorite-color);
}
.backupEntry:hover {
  cursor: pointer;
}

#detailsCard {
  margin-top: 4vh;
  margin-left: 8vw;
  margin-right: 8vw;
  padding: 16px;
  color: var(--less-yellow);
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
}

.infoElement {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  justify-content: space-between;
}

.dealList {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.dealList li {
  border: 1px solid var(--less-yellow);
  padding: 1vw;
  margin: 8px;
}

#dashboard {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

#redundancyButton {
  background: #FFFFFF;
  border: 1px solid var(--less-yellow);
  color: var(--less-yellow);
  font-size: 1.8em;
  cursor: pointer;
  width: 140px;
  height: 50px;
}
#redundancyButton:hover {
  box-shadow: var(--favorite-color) 0px 5px 15px;
  color: var(--favorite-color);
}

.backupSection {
  margin-bottom: 24px;
}

.createBackupStart {
  width: inherit;
  margin: 6vh 6vw 6vh 6vw;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  font-size: 1.6rem;
  background-color: var(--main-white);
  border: 1px solid var(--favorite-color);
  color: var(--menu-color);
}

.createBackupDetails {
  width: inherit;
  margin: 6vh 6vw 6vh 6vw;
  height: 12vh;
  /*border: 1px solid var(--favorite-color);*/
  background-color: black;
}

button {
  border: 2px solid var(--less-yellow);
  background-color: var(--default-background-color);
  border-radius: 12px;
  width: 12vw;
  height: 8vh;
  color: var(--less-yellow);
  font-size: 2.5rem;
}
button:hover {
  border: 2px solid var(--favorite-color);
  color: var(--favorite-color);
}
button:active {
  box-shadow: inset 0 0 20px 0 var(--favorite-color);
}

#backup {
  border: 2px solid var(--developer-red);
}

.loading {
  color: var(--favorite-color);
  font-size: 1.5em;
  position: fixed;
  top: 2vh;
  right: 2vw;
}