:root {
  --favorite-color: #FFFF00;
  --less-yellow: #BBBB00;
  --orange-yellow: #FFEE00;
  --default-background-color: #220022;
  --menu-color: #440044;
  --menu-hover-color: #660066;
  --developer-red: #FF0000;
  --main-white: #FFFFDD;

  --menu-height: 8vh;
  --footer-height: 4vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--default-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: var(--menu-color);
  color: var(--favorite-color);
  position: fixed;
  top: 0;
  left: 0;
  height: var(--menu-height);
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0;
  padding-left: 16px;
}

nav ul a li {
  padding: 12px;
  margin-right: 16px;
  cursor: pointer;
}

nav ul a li:hover {
  background-color: var(--menu-hover-color);
  color: var(--orange-yellow);
}

nav ul a {
  color: inherit;
  text-decoration: none;
  font-size: 1-5em;
}

footer {
  background: transparent;
  color: var(--less-yellow);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  text-align: center;
  
}

main {
  position: absolute;
  top: var(--menu-height);
  height: calc(84vh);
  width: 100%;
  color: var(--main-white);
}

#dashboard h1 {
  text-align: center;
}

#dashboard h2 {
  text-align: center;
}

#dashboard {
  border: 0px solid var(--developer-red);
}

#backup {
  border: 2px solid var(--developer-red);
}